.theme-light {
  --bg-color: white;
  --text-color: black;
  --sidebar-bg: #f3f4f6;
  --header-bg: #e5e7eb;
}

.theme-dark {
  --bg-color: #000;
  --text-color: #fff;
  --sidebar-bg: #1f2937;
  --header-bg: #374151;
}